<footer id="footer">

    <i class="fa-brands fa-twitter foicon"></i>
    <i class="fa-brands fa-facebook foicon"></i>
    <i class="fa-brands fa-instagram foicon"></i>
    <i class="fa-solid fa-envelope foicon"></i>
    <p style="height: 2rem;">© Copyright 2023 PeaceWithin</p>

</footer>

<!-- common-javascripts -->
<script src="/javascript/scripts.js"></script>
</body>

</html>