<footer id="footer">

    <i class="fa-brands fa-twitter fa-2xl"></i>
    <i class="fa-brands fa-facebook fa-2xl"></i>
    <i class="fa-brands fa-square-instagram fa-2xl"></i>
    <i class="fa-solid fa-envelope fa-2xl"></i>
    <p style="height: 2rem;">© Copyright 2023 Money Master</p>

</footer>

<!-- common-javascripts -->
<script>
    const str = '<%=puser%>';
    // console.log(str);
    const str2 = str.replace(/&#34;/gi, '\"');
    // console.log(str2);
    const uobj = JSON.parse(str2);
    console.log(uobj);
     document.getElementById('pemail').innerHTML = uobj.email;
</script>
<script src="/javascript/scripts.js"></script>
</body>

</html>