
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ERROR</title>
    <link rel="stylesheet" href = "css/error.css">
</head>
<body>
    <br>
    <h1><%=error%></h1>
    <h1>Oops ! <%= field %></h1>>
    <div class = "image">
        <img src = "images/404.png" alt="PAGE NOT FOUND" height="500px" >
    </div>
</body>
</html>