<%-include("partials/pheader")-%>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/profile.css">
    <!-- <h1>SHASHWAT KHARE Profile</h1> -->
    <div>
        <h1>Profile</h1>
    </div>
    <div class="cardBox">
        <div class="card tr">
            <div class="pcard">
                <div id="username">
                    <h3> Username :</h3> 
                </div>
            </div>
        </div>
        <div class="card tr">
            <div class="pcard">
                <div id = "email">
                    <h3> Email : </h3>
                </div>
            </div>
        </div>
        <div class="card tr">
            <div class="pcard">
                <div id="balance">
                    <h3> Total Balance : </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="cardBox">
        <div class="card er">
            <div class="ncard">
                <div class="numbers" id="ern">
                    Rs 1000
                </div>
                <div class="cardName">
                   Total Earnings
                </div>
            </div>
            <div class="iconBox">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
        <div class="card tr">
            <div class="ncard">
                <div class="numbers" id="trn">
                    99
                </div>
                <div class="cardName">
                   Total Transactions
                </div>
            </div>
            <div class="iconBox">
                <ion-icon name="clipboard-outline"></ion-icon>
            </div>
        </div>
        <div class="card ex">
            <div class="ncard">
                <div class="numbers" id="exn">
                    Rs 1099
                </div>
                <div class="cardName">
                   Total Expenses
                </div>
            </div>
            <div class="iconBox">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="graphBox">
        <!-- <h2>Text</h2> -->
        <div class="box">
            <h2>Transactions</h2>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <%-include("partials/pfooter")-%>
    <script>
        // console.log(uobj);
        let exp = 0;
        let erp = 0;
        for(let i = 0;i<uobj.transactions.length;i++){
            exp += parseInt(uobj.transactions[i].debit);
            erp += parseInt(uobj.transactions[i].credit);
        } 
        console.log(exp);
        console.log(erp);
        $(function () {
            $("#exn").html("Rs "+exp);
            $("#ern").html("Rs "+erp);
            $("#trn").html(uobj.transactions.length);
            $("#username").html("<h3>Username : "+uobj.username+"</h3>");
            $("#email").html("<h3>Email : " + uobj.email + "</h3>");
            $("#balance").html("<h3>Balance : Rs " + uobj.money + "</h3>");
        });
        let lax = ["Expences","Earnings"];
        let dta = [exp,erp];
        const ctx = document.getElementById('myChart');
            new Chart(ctx, {
                type: 'doughnut',
                data: {

                    labels: lax,
                    datasets: [{
                        label: 'Transactions',
                        data: dta,
                        borderWidth: 1
                    }]
                },
                options: {
                    // scales: {
                    //     y: {
                    //         beginAtZero: true
                    //     }
                    // },
                    responsive: true,
                }
            });
    </script>